  html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

 .logo-color-bg{
    background-color: #336699;
    color: white;

 }

.logo-color{
    color: #336699;
}
 .logo{
    width: 200px;
    height: 100px;
 }


 .background{

 	 background-color: black;
    background: url('../img/Pin-Map.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;

 }

.img-size{
    height: 70px;
}

.paragraph{

	font-size: 30px;
 font-family:  Georgia, Serif;

}

.subparagraph{
    font-size: 18px;
    font-family:  Georgia, Serif;
}

.title-menu-landing{

	font-size: 38px;
	text-align: center;
}

.searchbox{
width: 30%;
height: 12%;

    border: 3px solid #ccc;
    font-size: 22px;
    vertical-align: middle;
}
.searchbox:hover{
    border:3px solid #336699;
}

.brand{
	margin-left: 3%;
}

.circular {
	width: 100px;
	height: 100px;
	
	
	}

.question-title{
	font-size: 30px
}

.question{
	font-size: 20px;
	color: black;
}


.flip-container {
    perspective: 1000;
    background-color: white;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 100%;
    height: 350px;
   
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}
.p{
  display: inline;
}
/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);

}


.circular {
    border-radius: 50%;
    
    }

    .img-circle{
        width:120px;
        height: 120px;

    }
    .marker{
        width: 30px;
        height: 30px;
    }


.profile{
    width:70%;
}
.hire{
    width: 100%;
    height: 40px;
}

.end-landing{
    border: 1px solid grey;
}


.fixed {   width: 10% ;background:orange; }
.scrollit { height:400px;  background:lightgray; }

.block{
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    border-bottom: 1px solid grey;
  
}

.border{
    border: 1px solid grey;
}

.padding{
    padding: 10px;
}

.header-secondary{

    display: table;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
}

.completed-work{
    color: black;
}

.center{
    margin-right: auto;
    margin-left: auto;
}

.premium{
    color: green;
    position: relative;
    float: right;
    border: 2px inset  green;
    padding: 5px 5px 5px 5px;
}

.remark:hover ~ .block {
    border: 2px solid red;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
  cursor:default;
}

.provider-name{
    color:#336699;
}

.pagination>.active>a{
     background-color:#336699;
}

.experience-name{
    color: black;
    font-size:15px;
}

.experience-title{
    color: black;
    font-size:17px;
}

.centered-form, textarea{

}

form{
       width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
        margin-bottom: 50px
}

.service-icon{
    width: 50px;
    height: 55px;
    position: relative;
    margin-bottom: 19px;
}


.button-header{
    margin-top: 70px;
}

#map{
    height: 60%;
}


.container-profile{
    background-color: #E0E0E0;
    margin-top: 5px;
}

.user-profile{
    background-color: white;
    border-top: 1px solid #336699;
    color:#333;


}

.presentation-card{
    margin-top: 1px solid  #336699;
}

.bar-user{
    background-color: #336699;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin:0;

}

.about-title{
    font-weight: 700;
}

.image-profile{
    margin-top: 30px;
}

.job-name{
    font-weight: 500;
    font-family: 'Open Sans','arial';
    font-size:30px;
}

.job-profile{
    font-size: 18px;
    font-weight: normal;
}

.job-description{
    font-size: 14px;
}

.rating>p>img{
    width: 20px;
    height: 20px;
}

.rating>img{
    float: left;
    height: 15px;
    width:15px;
}

.profile-rating>p>img{
   height: 25px;
    width:25px;
   margin-left: auto;
    margin-right: auto;

}



@media only screen and (min-width: 990px){
    .question-center{
    margin-top: 100px;
    }
}

@media only screen and (min-width: 761px){

    .normal-screen >hr{
        border: 1px solid white

    }
    .minimal-screen{
        border: none;
    }
}

@media only screen and (max-width:760px){

     .normal-screen{
        border: none;
    }

    .minimal-screen{
        border: 1px solid white;
                
    }
}

@media only screen and (max-width:420px){
    .hidden-works{
        display: none;
    }

}